*.pyc
*.swp
.DS_Store
*.Pluric*Settings*
nohup.out
__pycache__

weights.xlsx

backups/*
!backups/.keep

build/*
!build/.keep

traits/*/*.png
!traits/Background/SpaceSky.png
!traits/Ears/BaldHead+Ears.png
!traits/Eyes/Closed_Eyes.png
!traits/Frame/Outline.png
!traits/HairColor/Blue_Fur.png
!traits/Mouth/Frowny_Face.png
!traits/SkinColor/pink.png